body {
    background-image: url('fondo.jpeg'); /* Reemplaza con la ruta real de tu imagen */
    background-repeat: repeat; /* Controla si la imagen se repite (opcional) */
    background-size: cover; /* Controla el tamaño de la imagen (opcional) */
    background-position: center; /* Controla la posición de la imagen (opcional) */
      background-attachment: fixed
  }

body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
}

.footer {
    text-align: center;
    padding: 30px solid #ffffffd5;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.header {
    text-align: center;
    padding: 50px solid #ff1616;
    font-family: 'Arial', Times, serif, sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.info {
    border: #851bff;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.menu-item {
    border: 6px solid #ff1616;
    margin: 20px; 
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

h2 {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.im { 
    width: 100%;
    height: auto;

}

.map { 
    width: auto;
    height: auto;
}

.vid {
    width: 100%;
    border-style: ridge;
}








.slider-frame {
	width: 1280px;
    height: auto;
	margin:50px auto 0;
	overflow: hidden;
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
	width: 100%;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}
